
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffbf8;
}
body::-webkit-scrollbar
{
    width: 12px;
}
body::-webkit-scrollbar-track
{
    background-color: #fff;
}
body::-webkit-scrollbar-thumb
{
    background-color: rgb(215, 215, 223);
    border-radius: 20px;
}
ol, li
{
    list-style: none;
}
header
{
    height: 100vh;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
}       
header .headertop 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
}
header .headertop  .logo
{
    display: flex;
    align-items: center;
    width: 50%;
}    
header .headertop .logo h2
{
    display: block;
    padding: 0.7em;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1.6rem;
}
header nav
{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
header nav img
{
    display: none;
}
header  ul
{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
header ul li a
{
    display: block;
    padding: 1em;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}
 .contact 
{
    font-family: 'Fraunces', serif;
    background-color: #ffffff;
    color: #000000;
    border-radius: 2em;
    margin-right: 1.5em;
}
header .icon-wrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header .icon-wrap h1
{
    padding: 0em;
    margin-top: -1.5em;
    font-family: 'Fraunces', serif;
    color: #ffffff;
    font-size: 5rem;
}

main
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main article
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
main article section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
main article section h2
{
    width: 50%;
    color: #232a36;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-align: left;
}
main article section p
{
    width: 50%;
    text-align: left;
    color: #9d9aa3;
    font-size: 1.2rem;
    line-height: 1.5;
}
main article section a
{
    margin-right: 30%;
    padding: 0.5em;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-decoration: none;
    text-align: left;
    color: #232a36;
}
main article section a hr
{
    margin-top: -0.5em;
    border: none;
    border-bottom: 10px solid rgba(255, 255, 0, 0.432);
}
main article section a:hover > hr
{
    border-bottom: 10px solid rgba(255, 255, 0, 0.432);
}
main article .img-article
{
    width: 50%;
    padding: 0;
}
main article .img-article img
{
    width: 100%;
    height: 100%;
}
main .article-footer .footer-box
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   width: 50%;
}
main .article-footer .footer-box img
{
    position: relative;
    width: 100%;
    height: 100%;
}
main .article-footer .footer-box .img-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
main .article-footer .footer-box .img-text h2
{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
main .article-footer .footer-box .img-text p
{
    width: 50%;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    align-items: center;
}
main .article-footer .footer-box .img-text .graphic_design
{
    color: #1d463e;
}
main .article-footer .footer-box .img-text .photography
{
    color: #143947;
}
#box1
{
    left: 0;
}
#box2
{
    right: 0;
}
main .client-testinomials
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 7em;
}
main .client-testinomials .testinomial-title
{
    display: block;
    padding-top: 4em;
    padding-bottom: 2em;
    font-family: 'Fraunces', serif;
    color: #a9a9a9;
}
main .client-testinomials .testinomial-content
{
    display: flex;
    width: 80%;
    gap: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
main .client-testinomials .testinomial-content .testinomial-card
{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .client-testinomials .testinomial-content .testinomial-card img
{
    width: 20%;
    border-radius: 100%;
}
main .client-testinomials .testinomial-content .testinomial-card p
{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #4f4f52;
}
main .client-testinomials .testinomial-content .testinomial-card h3
{
    font-family: 'Fraunces', serif;
    font-weight: 1000;
    font-size: 1rem;
    padding-top: 2em;
}
main .client-testinomials .testinomial-content .testinomial-card span
{
    font-family: 'Barlow', sans-serif;
    color: #464040;
    text-align: center;
}
main .clipper
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
main .clipper img
{
    width: 25%;
}
footer
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90d4c5;
}
footer h2
{
    font-family: 'Lato', sans-serif;
    color: #235348;
    font-weight: 900;
    font-size: 3rem;
}
footer .link-us
{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: 2em;
}
footer .link-us a
{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #2d7466;
}
footer .social
{
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 1.5em;
    margin-bottom: 1em;
}

.attribution
{
    font-size: 11px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1.5em;
    color: #2d2d2d;


}
.attribution a
{
    color: hsl(228, 45%, 44%);
}



/* RESPONSIVE 880PX */