 header .headertop nav
{
    width: 90%;
}
header .headertop nav .triangle
{
    display: none;
    position: absolute;
    right: 10%;
    top: 5em;
    width: 0px;
    height: 0px;
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 40px solid rgb(255, 255, 255);
} 
 header .headertop nav img
{
    padding: 2em;
    display: block;
}
 header .headertop  ul
{
    position: absolute;
    display: none;
    width: 84%;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 80%;
    right: 10%;
    background-color: #ffffff;
    padding: 0em;
} 
header .headertop  ul li
{
    display: flex;
    flex-direction: center;
}
header .headertop ul li a
{
    width: 100%;
    text-align: center;
    display: block;
    padding: 1em;
    font-size: 1rem;
    color: #244b43;
} 
header .headertop ul li  .contact
{
    width: 100%;
    background-color: #fbd601;
    color: #1b1d1c;
    margin: 0;
}
header .icon-wrap h1
{
    text-align: center;
    font-size: 1rem;
}
main article
{
    flex-direction: column;
}
main article section
{
    width: 100%;
}
main article section h2
{
    width: 90%;
    font-size: 2rem;
    text-align: center;
}
main article section p
{
    width: 90%;
    text-align: center;
    font-size: 1.6rem;
}
main article section a
{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}
main article .img-article
{
    width: 100%;
}
main #article_1
{
    flex-flow: column-reverse;
}
main .article-footer .footer-box
{
    width: 100%;
}
main .article-footer .footer-box .img-text
{
    height: 100%;
    justify-content: flex-end;
}
main .article-footer .footer-box .img-text h2
{
    font-size: 2rem;
}
main .article-footer .footer-box .img-text p
{
    width: 90%;
    font-size: 1rem;
    text-align: center;
}
main .client-testinomials .testinomial-content
{
    display: flex;
    flex-direction: column;
}
main .client-testinomials .testinomial-content .testinomial-card
{
    width: 100%;
}
main .client-testinomials .testinomial-content .testinomial-card img
{
    margin-top: 2em;
}
main .client-testinomials .testinomial-content .testinomial-card  p
{
    font-size: 1.5rem;
}
main .client-testinomials .testinomial-content .testinomial-card h3
{
    font-size: 2rem;
}
main .clipper
{
    flex-wrap: wrap;
}
main .clipper img
{
    width: 50%;
}